<div class="about">
    <div class="map clearfix" id="">
        <div class="map-menu">
            <div class="map-control"  style="position:relative;">
                <img src="img/warn/map-ball.png" alt="">
                <span>关于平台</span>
                <img src="img/warn/map-slide.png" alt="" class="map-slide">
            </div>
            <div class="menu-con map-view">
                <div class="sidebar-collapse">
                    <ul class="nav nav-main about_nav" id="side-menu">
                        <li>
                            <a class="J_menuItem" id="intruction"><span><img src="img/ptjs.png"></span>平台介绍</a>
                        </li>
                        <li>

                            <a class="J_menuItem" id="version_info"><span><img src="img/bbxx.png"></span>版本信息</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="map-con">
            <div>
                <!--平台介绍-->
                <div class="parts" id="intruction1" style="margin-left: 40px">
                    <p class="page_title">平台介绍</p>
                    <div class="row " style="padding: 20px">
                        <!--<div class="col-sm-3" style="text-align: left">
                            <span style="font-size:1.5rem;">查询<code>*</code></span>
                        </div>-->
                       <div class="row">
                           <div class="title">
                               <h3 style="text-align: center;margin-bottom:20px;">全国土壤环境信息平台</h3>
                           </div>
                           <div class="content pt-5 px-5">
                                   <p style="line-height:36px;font-size: 18px;">
                                       &nbsp; &nbsp; &nbsp; &nbsp; 2016年5月28日，国务院印发《土壤污染防治行动计划》，要求加强深入开展土壤环境质量调查工作，建设土壤环境质量监测网络，增加土壤环境质量监测项目。努力提升土壤环境信息化管理水平，建立土壤环境基础数据库和信息管理平台，同时健全土壤污染防治相关标准和技术规范的建设工作。<br>
                                       &nbsp; &nbsp; &nbsp; &nbsp;项目的总目标是：在土壤污染防治行动计划工作基础上，依据全国土壤环境信息平台总体框架，针对农用地和建设用地的安全利用、风险管控等业务需要，编制土壤环境数据资源目录，根据目录采集、共享、交换和集成内部和外部土壤环境数据，设计土壤环境基础数据库，进行数据入库建设，初步建立土壤环境基础数据库，并围绕土壤环境数据综合开发与利用，初步建立土壤环境信息平台。</p>
                           </div>
                       </div>
                    </div>
                </div>



                <!--日志管理-->
                <div class="parts col-xs-12" id="versionInfo" style="margin-left: 40px; padding: 0" hidden>
                    <p class="page_title">版本信息</p>
                    <div class="col-xs-12">
                            <section id="cd-timeline" class="cd-container">
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture"  style="background: rgb(234, 94, 55)">
                                        <span style="line-height: 60px; padding-left: 5px; color: white;">2016.5</span>
                                    </div><!-- cd-timeline-img -->

                                    <div class="cd-timeline-content">
                                        <!--<h2>V1.1.0</h2>-->
                                        <p>国务院印发《土壤污染防治行动计划》，要求建立土壤环境基础数据库，构建全国土壤环境信息平台。</p>
                                        <span class="cd-date">2016年5月</span>
                                    </div> <!-- cd-timeline-content -->
                                </div> <!-- cd-timeline-block -->

                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-movie"  style="background:#42a2c1">
                                        <span style="line-height: 60px; padding-left: 5px; color: white;">2016.10</span>
                                    </div> <!-- cd-timeline-img -->

                                    <div class="cd-timeline-content">
                                        <!--<h2>V1.2.0</h2>-->
                                        <p>到河南、四川、浙江、重庆等地开展调研。</p>
                                        <span class="cd-date">2016年10月</span>
                                    </div> <!-- cd-timeline-content -->
                                </div> <!-- cd-timeline-block -->

                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture" style="background:#886bb1">
                                        <span style="line-height: 60px; padding-left: 5px; color: white;">2017.5</span>
                                    </div> <!-- cd-timeline-img -->

                                    <div class="cd-timeline-content">
                                        <!--<h2>V1.3.0</h2>-->
                                        <p>编制《全国土壤环境信息平台总体方案》。</p>
                                        <span class="cd-date">2017年5月</span>
                                    </div> <!-- cd-timeline-content -->
                                </div> <!-- cd-timeline-block -->

                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-location"  style="background:#56bdde">
                                        <span style="line-height: 60px; padding-left: 5px; color: white;">2018.10</span>
                                    </div> <!-- cd-timeline-img -->

                                    <div class="cd-timeline-content">
                                        <!--<h2>V1.4.0 4</h2>-->
                                        <p>编制《土壤环境数据资源共享管理办法》、《土壤环境数据资源共享目录》和《土壤环境数据资源共享协议》等征求意见稿。</p>
                                        <span class="cd-date">2018年10月</span>
                                    </div> <!-- cd-timeline-content -->
                                </div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-location">
                                        <span style="line-height: 60px; padding-left: 5px; color: white;">2018.12</span>
                                    </div> <!-- cd-timeline-img -->

                                    <div class="cd-timeline-content">
                                        <!--<h2>V1.4.0 4</h2>-->
                                        <p>全国土壤环境信息平台正式上线。</p>
                                        <span class="cd-date">2018年12月</span>
                                    </div> <!-- cd-timeline-content -->
                                </div> <!-- cd-timeline-block -->
                            </section> <!-- cd-timeline -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>