<div class="detail clear">
    <div class="detail-con">
        <div class="detail-left lt">
            <div class="detail-move map-table-color">
                <img src="img/warn/map-ball.png" alt="">
                <span>资 讯 动 态</span>
            </div>
            <ul>
                <li class="move-detail c4"><i class="fa fa-home fa-music" style="margin-right:10px;"></i>政 策 法 规</li>
                <li class="c5"><i class="fa fa-home" style="margin-right:10px;"></i>标 准 规 范</li>
                <li class="c6"><i class="fa fa-home fa-wind" style="margin-right:10px;"></i>土 壤 详 查</li>
                <li class="c7"><i class="fa fa-home" style="margin-right:10px;"></i>修 复 治 理</li>
                <li class="c9"><i class="fa fa-home" style="margin-right:10px;"></i>行动计划编制</li>
                <li class="c10"><i class="fa fa-home" style="margin-right:10px;"></i>文 献 资 料</li>

            </ul>
        </div>
        <div class="detail-right lt" style="width:80%;">
            <div class="detail-news">
                <ul class="list" id="newsList1">
                </ul>
                <div class="col-xs-12 text-center ">
                    <ul id="example1" class="pagination" style="padding-top: 2rem;"></ul>
                </div>
            </div>
            <div class="detail-news none">
                <ul class="list" id="newsList2"></ul>
                <div class="col-xs-12 text-center ">
                    <ul id="example2" class="pagination" style="padding-top: 2rem;"></ul>
                </div>
            </div>
            <div class="detail-news none">
                <ul class="list" id="newsList3"></ul>
                <div class="col-xs-12 text-center ">
                    <ul id="example3" class="pagination" style="padding-top: 2rem;"></ul>
                </div>
            </div>
            <div class="detail-news none">
                <ul class="list" id="newsList4"></ul>
                <div class="col-xs-12 text-center ">
                    <ul id="example4" class="pagination" style="padding-top: 2rem;"></ul>
                </div>
            </div>
            <div class="detail-news none">
                <ul class="list" id="newsList9"></ul>
                <div class="col-xs-12 text-center ">
                    <ul id="example9" class="pagination" style="padding-top: 2rem;"></ul>
                </div>
            </div>
            <div class="detail-news none">
                <ul class="list" id="newsList10"></ul>
                <div class="col-xs-12 text-center ">
                    <ul id="example10" class="pagination" style="padding-top: 2rem;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>