<div class="entrance">
    <!--<div class="warn-title">-->
        <!--<div class="warn-word">进度跟踪</div>-->
    <!--</div>-->
    <div class="map clearfix" id="">
        <div class="map-menu">
            <div class="map-control"  style="position:relative;">
                <img src="img/warn/map-ball.png" alt="">
                <span>进展跟踪</span>
                <img src="img/warn/map-slide.png" alt="" class="map-slide">
            </div>
            <div class="menu-con map-view">
                <div class="sidebar-collapse">
                    <ul class="nav nav-main" id="side-menu">
                       <!-- <li>
                            <a href="javascript:void(0);" id="entr_mubiao">
                                <span><img src="img/mbwcqk.png"></span>
                                <span class="nav-label">目标完成情况</span>
                                <span class="fa arrow"></span>
                            </a>
                            &lt;!&ndash;  <ul class="nav nav-second-level">
                                 <li>
                                     <a class="J_menuItem" data-index="0">基础地理1</a>
                                 </li>
                                 <li>
                                     <a class="J_menuItem" >基础地理2</a>
                                 </li>
                             </ul> &ndash;&gt;
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="entr_xiangmuku">
                                <span><img src="img/zlxmk.png"></span>
                                <span class="nav-label">防治项目库</span>
                                <span class="fa arrow"></span>
                            </a>
                            &lt;!&ndash;  <ul class="nav nav-second-level">
                                 <li>
                                     <a class="J_menuItem" >基础专题1</a>
                                 </li>
                                 <li>
                                     <a class="J_menuItem">基础专题2</a>
                                 </li>
                             </ul> &ndash;&gt;
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="entr_xiufuzhili">
                                <span><img src="img/xfzljd.png"></span>
                                <span class="nav-label">修复治理进展</span>
                                <span class="fa arrow"></span>
                            </a>
                            &lt;!&ndash;  <ul class="nav nav-second-level">
                                 <li>
                                     <a class="J_menuItem" >污染专题1</a>
                                 </li>
                                 <li>
                                     <a class="J_menuItem" >污染专题2</a>
                                 </li>
                             </ul> &ndash;&gt;
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="entr_shifanqu">
                                <span><img src="img/lizi.png"></span>
                                <span class="nav-label">先行示范区</span>
                                <span class="fa arrow"></span>
                            </a>
                            &lt;!&ndash; <ul class="nav nav-second-level">
                                <li>
                                    <a class="J_menuItem" >基础专题1</a>
                                </li>
                                <li>
                                    <a class="J_menuItem">基础专题2</a>
                                </li>
                            </ul> &ndash;&gt;
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="entr_kaohepinggu">
                                <span><img src="img/khpg.png"></span>
                                <span class="nav-label">考核评估</span>
                                <span class="fa arrow"></span>
                            </a>
                            &lt;!&ndash; <ul class="nav nav-second-level">
                                <li>
                                    <a class="J_menuItem" >基础专题1</a>
                                </li>
                                <li>
                                    <a class="J_menuItem">基础专题2</a>
                                </li>
                            </ul> &ndash;&gt;
                        </li>
-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="map-con" id="map">
			<!--<div id="popup" class="ol-popup">-->
				<!--<a href="#" id="popup-closer" class="ol-popup-closer"></a>-->
				<!--<div id="popup-content"></div>-->
			<!--</div>-->
<!-- 			<div id='beijing' class="ol-popup" style='width:200px;height:200px'>北京</div> -->
		</div>
		<div class="map-con" id="table" >
			<img src="img/white.png">
		</div>
    </div>
</div>